</div>
<div class="container" id="footer">
    <hr>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-copyright-mark"></span> 2014 <a href="http://rolesvillefarmersmarket.com">Rolesville Farmers Market</a>.
    </div>
    <div class="col-md-4">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//rolesvillefarmersmarket.us8.list-manage.com/subscribe/post?u=c2d89df5518a499efa53bba69&amp;id=c551f7dee9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                Subscribe to RFM mailing list
                <div class="form-group">
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_c2d89df5518a499efa53bba69_c551f7dee9" tabindex="-1" value="">
                </div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
    <div class="col-md-4 text-right">
        <h2>
            <a href="https://www.facebook.com/rolesvillefm"><span class="fa fa-facebook-square"></span></a>
            <a href="https://twitter.com/rolesvillefm"><span class="fa fa-twitter-square"></span></a>
        </h2>
    </div>
</div>
<script src="/static/js/vendor.min.js"></script>

</body>

</html>
