</div>
<div class="container" id="footer">
    <hr>
    &copy; 2014 <a href="http://rolesvillefarmersmarket.com">Rolesville Farmers Market</a>.
</div>
<script src="/static/js/vendor.min.js"></script>

</body>

</html>
