footer
  h4
    | &copy; 2014 &nbsp;
    a(href='http://gfwithsarahb.com') Sarah Janes, LLC. &nbsp;
    a(href='https://www.facebook.com/gfwithsarahb')
      span.fa.fa-facebook-square &nbsp;
    a(href='https://twitter.com/gfwithsarahb')
      span.fa.fa-twitter-square
