#footer.container
    hr
    | &copy; 2014 &nbsp;
    a(href='http://rolesvillefarmersmarket.com') Rolesville Farmers Market
    //
       Begin MailChimp Signup Form
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate.form-inline(action='//rolesvillefarmersmarket.us8.list-manage.com/subscribe/post?u=c2d89df5518a499efa53bba69&id=c551f7dee9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
        | Subscribe to RFM mailing list
        .form-group
          input#mce-EMAIL.form-control(type='email', value='', name='EMAIL', placeholder='email address', required='required')
          //
             real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_c2d89df5518a499efa53bba69_c551f7dee9', tabindex='-1', value='')
          input#mc-embedded-subscribe.btn.btn-default(type='submit', value='Subscribe', name='subscribe')
    //
      End mc_embed_signup
    h2
      a(href='https://www.facebook.com/rolesvillefm')
        span.fa.fa-facebook-square &nbsp;
      a(href='https://twitter.com/rolesvillefm')
        span.fa.fa-twitter-square
  script(src='/static/js/vendor.min.js')
