<!DOCTYPE html>
<html>

<head>
    <title>{{#if title}} {{title}} {{else}} Rolesville Farmers Market {{/if}}</title>
    <link rel="stylesheet" href="/static/css/main.css" media="all" charset="utf-8">

</head>

<body>
    {{>nav-main}}
    {{#if pageHeading}}
    <header>
        <div class="container">
            <h1>{{{pageHeading}}}</h1>
        </div>
    </header>
    {{/if}}


    <div id="page">
