<!DOCTYPE html>
<html>

<head>
    <title>{{#if title}} {{title}} {{else}} Rolesville To-Go {{/if}}</title>
    <link rel="stylesheet" href="/static/css/normalize.css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/static/css/vendor.min.css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css" media="all" charset="utf-8">

</head>

<body>
    {{>nav}}
    {{#if pageHeading}}
    <header>
        <div class="container">
            <h1>{{{pageHeading}}}</h1>
        </div>
    </header>
    {{/if}}
<div class="container">
  </div>
    <div id="page">
