<!DOCTYPE html>
<html>

<head>
    <title>{{#if title}} {{title}} {{else}} Rolesville Farmers Market {{/if}}</title>
    <link rel="stylesheet" href="/static/css/normalize.css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/static/css/vendor.min.css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css" media="all" charset="utf-8">

</head>

<body>
    {{>nav-main}}
<div class="container">
    <header>

    </header>
  </div>
    <div id="page">
