<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/static/img/rolesville_to_go_logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/togo">Shop Home</a></li>
                <li><a href="/togo/produce">Produce</a></li>
                <li><a href="/togo/baked-goods">Baked Goods</a></li>
                <li><a href="/togo/how-this-works">How this works</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
                </li>
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> RFM</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
