{{>header-main}}

<div class="container">
    {{#if message}}
        <p>
            {{message}}
        </p>
    {{/if}}

    <form id="login" action="/auth/login" method="post" class="form-inline" role="form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control">
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
{{>footer}}
