extends ../layout

block content
  h1 Manage Vendors
  p Receive fees.
  hr
  h1 Build an audience
  p Builtin support for Facebook, Twitter, Pintrest, and more.
  hr
  h1 Only $10 a month to get started!
