/*--------------------------------------------------------------------
* HEADER
--------------------------------------------------------------------*/
nav
  text-align: center
  margin-top: 2rem
  ul
    display: inline
  li
    display: inline
    margin-left: 1rem

@media $mobile-devices

  header.site-head
      display: table
      background: url('/static/img/black_lozenge_2x.png');
      width: 100%
      height: 100px
      position: relative
      text-align: center
      .vertical
        display: table-cell
        vertical-align: middle
      h2
        color: $gray-lighter
        font-size: $font-base
      h4
        font-size: $font-small
  nav
    font-size: $font-small


@media $desktop

  header.site-head
      display: table
      background: url('/static/img/black_lozenge_2x.png');
      width: 100%
      height: 400px
      position: relative
      text-align: center
      .vertical
        display: table-cell
        vertical-align: middle
      h2
        color: $gray-lighter
        font-size: 5rem
        font-weight: $font-bold

  nav
    font-size: $font-large
    font-weight: $font-bold
