{{>header}}

<div class="container">
    <form role="form" action="/togo/filter" method="post">
        <div class="form-group">
            <input type="search" name="filter_search" class="form-control" placeholder="Quick Search">
        </div>
    </form>
    {{#each produce}}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{#if image}}
                        <div class="col-md-12">
                            <img src="/static/img/rolesville_togo_button.png" class="img-responsive">
                        </div>
                    {{/if}}
                    <div class="col-md-6">
                        <h4>{{label}}</h4>
                         <span class="badge">$</span> {{price}}/{{uom}}
                    </div>
                    <div class="col-md-6">
                        <strong>Quantity</strong>
                        <input type="number" min="0" id="quantity" name="quantity" value="0" class="form-control">
                        <button type="button" class="form-control btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    {{/each}}

</div>
{{>footer}}
