{{>header}}

<div class="container">

    <div class="row">
        <div class="col-md-3">
            <p class="text-center">
                <img src="/static/img/htw_step1.png">
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Shop our online produce store, customize it, and checkout.
            </p>
            <p class="text-info">
                Orders must be placed before Tuesday at 6pm EST in order to be gauranteed ready for pick by Thursday. Any order placed after that will be processed based on produce availability.
            </p>
        </div>
        <div class="col-md-12 text-center">
            <h1><span class="fa fa-chevron-circle-down"></span></h1>
        </div>
        <div class="col-md-3">
            <p class="text-center">
                <img src="/static/img/htw_step2.png">
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Once paid, we verify your order and prepare your produce box.
            </p>
            <p class="text-info">An e-mail or text may be sent to let you know when your order is ready.</p>
        </div>
        <div class="col-md-12 text-center">
            <h1><span class="fa fa-chevron-circle-down"></span> </h1>
        </div>
        <div class="col-md-3">
            <p class="text-center">
                <img src="/static/img/htw_step3.png">
            </p>
        </div>
        <div class="col-md-9">
            <p class="lead">
                Come to our drive-thru pickup location on Thursday between 4-7pm and we'll load up your car and send you on your way!
            </p>
            <p class="text-info">
                If you can't make it during the drive-thru day don't worry you can come by on Fridays between 10am - 4pm or Saturday 9am - 1pm to pick up your produce.
            </p>
        </div>
        <div class="col-md-12 text-center">
            <h1><span class="fa fa-chevron-circle-down"></span> </h1>
            <a href="/togo" class="btn btn-primary">Get Started Today!</a>
        </div>
    </div>
</div>

{{>footer}}
