extends layout

block title
  title Rolesville Farmers Market

block content
  .container
    .row
      h3 Mission
      hr
      blockquote
        p.lead
          | Our market was created to provide fresh locally grown produce and
          | to help educate the community on healthier eating habits through
          | meal ideas, cooking technique classes, and guidance on growing produce
          | in your own back yards. We also exist to provide produce packages
          | to those in need, work with local non-profit kitchens, and food
          | distribution sites.
        p
          | It is our passion to improve quality of life through healthy eating,
          | provide an alternate source for quality produce at equal and more times
          | than not lower prices than chain grocery stores.
    .col-md-6
      .panel.panel-default
        .panel-heading
          h3.panel-title RFM Advisory Board Members
        .panel-body
          ul
            li
              | Chairman: Adam Stokes
              br
              span.glyphicon.glyphicon-comment
              | chairman@rolesvillefarmersmarket.com
            li
              | Secretary: Eugenia Pleasant
              br
              span.glyphicon.glyphicon-comment
              | secretary@rolesvillefarmersmarket.com
            li
              | Treasurer: Sandra Young
              br
              span.glyphicon.glyphicon-comment
              | treasurer@rolesvillefarmersmarket.com
            li
              | Marketing/Event Coordinator: Leslie Rudd and Aubrey Miller
              br
              span.glyphicon.glyphicon-comment
              | marketing@rolesvillefarmersmarket.com
    .col-md-6
      .panel.panel-default
        .panel-heading
          h3.panel-title Market Manager
        .panel-body
          | Mark Bloodworth from Back to Basics, LLC.
          br
          span.glyphicon.glyphicon-comment
          | manager@rolesvillefarmersmarket.com
