{{>header-main}}
<div class="container">

    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">RFM Advisory Board Members</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Chairman: Adam Stokes</li>
                    <li>Secretary: Eugenia Pleasant</li>
                    <li>Treasurer: Sandra Young</li>
                    <li>Marketing/Event Coordinator: Leslie Rudd and Aubrey Miller</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Market Manager</h3>
            </div>
            <div class="panel-body">
                Mark Bloodworth from Back to Basics, LLC.
            </div>
        </div>
    </div>

</div>
{{>footer}}
