{{>header-main}}
<div class="container">

    <div class="row">
        <h3>Mission</h3>
        <hr/>
        <blockquote>
        <p class="lead">
            Our market was created to provide fresh locally grown produce and
            to help educate the community on healthier eating habits through
            meal ideas, cooking technique classes, and guidance on growing produce
            in your own back yards. We also exist to provide produce packages
            to those in need, work with local non-profit kitchens, and food
            distribution sites.
        </p>
        <p>
            It is our passion to improve quality of life through healthy eating,
            provide an alternate source for quality produce at equal and more times
            than not lower prices than chain grocery stores.
        </p>
    </blockquote>

    </div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">RFM Advisory Board Members</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Chairman: Adam Stokes <br/><span class="glyphicon glyphicon-comment"></span> chairman@rolesvillefarmersmarket.com</li>
                    <li>Secretary: Eugenia Pleasant <br/> <span class="glyphicon glyphicon-comment"></span> secretary@rolesvillefarmersmarket.com</li>
                    <li>Treasurer: Sandra Young <br/> <span class="glyphicon glyphicon-comment"></span> treasurer@rolesvillefarmersmarket.com</li>
                    <li>Marketing/Event Coordinator: Leslie Rudd and Aubrey Miller <br/> <span class="glyphicon glyphicon-comment"></span> marketing@rolesvillefarmersmarket.com</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Market Manager</h3>
            </div>
            <div class="panel-body">
                Mark Bloodworth from Back to Basics, LLC. <br/> <span class="glyphicon glyphicon-comment"></span> manager@rolesvillefarmersmarket.com
            </div>
        </div>
    </div>

</div>
{{>footer}}
