extends layout

.container
    .row
        .col-md-3
          a(href='/togo')
            img.img-responsive(src='/static/img/rolesville_togo_button.png')
          p.text-center
            | Shop online for your fully customizable produce box and ready to be picked up during our drive-thru pickup day!
        .col-md-8.col-md-offset-1
          .panel.panel-default
            .panel-heading
              h3.panel-title
                span.fa.fa-clock-o
                | Hours
            .panel-body
              strong Produce Pickup
              | : Thursday 4pm - 7pm
              hr
              strong Market
              | : Friday 10am - 4pm & Saturday 9am - 1pm
          h3 What's the latest?
          hr
